---
title: "Portfolio"
layout:  default
description: "My Projects and Publications"
header-img: "img/portfolio-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<head>

<style type="text/css">
p {
    font-size: 15px;
    margin-top: 5px;
    text-align: justify;
    line-height: 25px;
}
</style>

</head>

<!-- Language Selector -->
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
        <option value="0" selected> 中文 Chinese</option>
        <option value="1"> 英文 English </option>
    </select>
    <div class="row">
        </br>
    </div>
</div>

<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>项目</h1>
                                </div>
                            </div>
                        </div>
                    </div>    
					<ul class="list-group"> 
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dronetester.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>多旋翼飞行测试平台</b>
									<p><i>硬件：步进电机，驱动器，arduino控制器，开关电源，蓝牙，滑轨，3D打印零件，型材等</br>软件：Visual Studio，Arduino，Android，C++ </i></p>
                                    <p> DroneTester是一款开源多旋翼飞行测试平台，开发者可以在这个平台上完成多种与多旋翼相关的研究，例如多旋翼的飞控参数调节，自主起飞与降落的测试，基于视觉的物体追踪，以及多旋翼的其他拓展功能的研究。更多信息及资料可以访问DroneTester<a href="http://cn.dronetester.us/" target="_blank">官网</a>。</p>
								</div>
                            </div>
                        </li>
						
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/drone.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>基于视觉导航的四旋翼</b></p>
                                    <p><i>硬件：无刷电机，电调，MWC飞控，声呐，摄像头，蓝牙，3D打印零件，型材等</br>软件：Visual Studio，MultiWii，OpenCV，C++ </i></p>
                                    <p>基于视觉导航的四旋翼飞行器，完成了从设计到开发的工作，包括飞行器的三维结构设计，型材加工与搭建，飞控、摄像头、Sonar等传感器以及电机的搭建连接，飞行器控制调参，传感器校准等。基于开源飞控及OpenCV等开发了飞行器视觉跟随等功能，基于Sonar等传感器开发了自主起降功能。</p> 
									<a href="http://v.youku.com/v_show/id_XMTM3NzMwNDM1Mg==.html?from=y1.7-1.2" class="btn btn-default btn-sm" role="button">Video_优酷</a>      
									<a href="https://www.youtube.com/watch?v=n6rG0Wqa_mY" target="_blank" class="btn btn-default btn-sm" role="button">Video_Youtube</a>  									
								</div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/vr.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>VR英语应用</b></p>
                                    <p><i>开发工具：Unity3D，C#，Linux，Java</i></p>
                                    <p>一款VR英语学习应用，通过虚拟现实技术辅助用户学习英语，开口说英语，目前有签证面试场景和演讲场景。本人主要负责后台推送服务器开发，以及场景内VR人物动作表情，语音播放与嘴型匹配等。</p> 
                                </div>
                            </div>
                        </li>
						
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/ros.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>ROS机械臂</b></p>
                                    <p><i>开发工具：ROS，C++</i></p>
                                    <p>研究基于ROS-industrial的机械臂运动规划，控制机械臂在三维空间内抓取并移动物体。</p> 									 
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/hand.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>四指抓手</b></p>
                                    <p><i>硬件：AX-12舵机，Arduino，3D打印零件，滑轮等</br>软件：ROS，Arduino，C++</i></p>
                                    <p>根据standFord开源项目openBionic制作的单舵机控制的四指抓手。</p> 
									<a href="http://v.youku.com/v_show/id_XMTQwMzczODE4NA==.html?f=26326049&spm=a2hzp.8244740.userfeed.5!82~5~5~5!3~5~A" class="btn btn-default btn-sm" role="button">Video_优酷</a> 
                                </div>
                            </div>
                        </li>						
  
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/MP3.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>音乐计步器</b></p>
                                    <p><i>硬件：Arduino，加速度计，播放模块，3D打印零件</br>软件：Arduino，C++ </i></p>
                                    <p>跑步时觉得带手机太重，但MP3又没法计步，所以自己做了一个简单的听歌+计步的小东西，具有MP3的基本功能，以及计步功能。经检验，计步很准。特意找了黑色的3D打印材料，提升逼格，不过由于是手工打造，盒子里藏了20多根杜邦线，所以体积还是有点大。整个东西成本在￥50以内。</p> 
                                </div>
                            </div>
                        </li>
  
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/blimp.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Blimp飞船</b></p>
                                    <p><i>硬件：Arduino，130马达，乐高零件，气球</br>软件：Arduino，C++，Android  </i></p>
                                    <p>国庆的时候，实验室放了一些气球，后来准备用这些气球做一个能用手机遥控的飞艇，就是图片里面这个，叫做Blimp，能用手机app控制小飞艇前进和转向。</p> 
                                </div>
                            </div>
                        </li>                    
						
                    </ul>
                </div>
                
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>论文</h1>
                                </div>
                            </div>
                        </div>
                    </div>			                    
					<ul class="list-group">

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/drone_paper.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b> A Flexible Test Platform for Multirotors</b></br>
                                        Liu Yao, Zhang Xinyu</br>
                                        <i>IEEE Virtual Reality 2017</i>
                                    </p>
                                    <p>本文提出了介绍了自主开发的多旋翼飞行测试平台以及一些相关实验，开发者可以在这个平台上完成多种与多旋翼相关的研究，例如多旋翼的飞控参数调节，自主起飞与降落的测试，多旋翼物体追踪功能的研究，</p>
                                    <a href="a href="http://cn.dronetester.us/" class="btn btn-default btn-sm" role="button">Dronetester主页</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/comparison.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>Comparing Two Continuous Collision Detection Algorithms on CPU and GPUs</b></br>
                                        Liu Yao, Zhang Xinyu</br>
                                        <i>International Conference on Virtual Reality and Visualization (co-located with ChinaVR), September 23-25, 2016, Hangzhou</i>
                                    </p>
                                    <p>本文针对文森特过滤算法与基于几何分析的过滤算法，进行了等价性推导，在CPU和GPU上分别用两种算法进行了仿真实验，对于实验中的一些特殊情形进行探讨，并对基于几何分析的过滤算法做了一些改进。</p>
                                    <a href="" class="btn btn-default btn-sm" role="button">论文主页</a>									
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/vincent.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>A Fast Algebraic Non-Penetration Filter for Continuous Collision Detection using Vincent Theorem</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>Journal of Graphical Models, 2015 (SCI影响因子1.23)</i>   
                                    </p>
                                    <p>本文提出了基于文森特定理的连续碰撞检测过滤算法，根据一次或两次迭代的文森特定理判断碰撞是否发生，显著提高了碰撞检测的效率。</p>
                                    <a href="http://www.robotics.sei.ecnu.edu.cn/GMOD/" target="_blank" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/sturm.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>An Algebraic Culling Algorithm for Continuous Collision Detection using Sturm Theorem</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>IEEE International Conference on Mechatronics and Automation, 2~5 August, 2015, Beijing, China.</i> 
                                    </p>
                                    <p>本文提出了基于斯图姆定理的连续碰撞检测过滤算法，根据碰撞方程的斯图姆序列，得到两个边界值序列的符号变量值，最后根据斯图姆定理判断碰撞方程的解存在性，判定碰撞是否发生，有效过滤伪碰撞对。</p>
                                    <a href="http://www.robotics.sei.ecnu.edu.cn/ICMA/" target="_blank" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/taylor.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b> A Simple Filtering Algorithm for Continuous Collision Detection using Taylor Models</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>IEEE International Conference on Mechatronics and Automation, 2~5 August, 2015, Beijing, China.</i> 
                                    </p>
                                    <p>本文提出了基于泰勒模型的连续碰撞检测过滤算法，根据待检测对的位置得到检测方程，然后根据泰勒模型求出这个三次方程在指定范围的值域，最后根据根的存在性定理确定指定区间根的存在情况，将不存在根的三次方程过滤掉，表明该碰撞不会发生。本算法能有效过滤伪碰撞对，提高碰撞检测实时性。</p>
                                    <a href="http://www.robotics.sei.ecnu.edu.cn/CADCG/" target="_blank" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>						

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- English Version -->
<div class="en">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Projects</h1>
                                </div>
                            </div>
                        </div>
                    </div>    
					<ul class="list-group"> 
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dronetester.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Multirotor Flight Test Platform</b>
									<p><i>Hardware:stepper motor,driver,arduino controller,switching power supply,bluetooth,slider,3D printed component,profiles</br>Software:Visual Studio,Arduino,Android,C++ </i></p>
                                    <p> DroneTester is an open source and flexible test platform for unmanned multirotors. Operators can implement various experimental researches for multirotors on this platform, such as flight control, autonomous take-off, autonomous landing, vision-based object tracking, and other sensor-related experiments. More info can be found in <a href="http://dronetester.us/" target="_blank">Dronetester</a>。</p>
								</div>
                            </div>
                        </li>
						
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/drone.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>vision-based quadrotor</b></p>
                                    <p><i>Hardware: motor,driver,MWC,arduino,sonar,camera,bluetooth,3D printed component,profiles</br>Software:Visual Studio,MultiWii,OpenCV,C++ </i></p>
                                    <p>Vision-based quadrotor, including the design of 3d structure of quadrotor, material processing and building. I have developed the target follow function and sonar based autonomous taking-off and landing.</p> 
									<a href="http://v.youku.com/v_show/id_XMTM3NzMwNDM1Mg==.html?from=y1.7-1.2" class="btn btn-default btn-sm" role="button">Video_youku</a>      
									<a href="https://www.youtube.com/watch?v=n6rG0Wqa_mY" target="_blank" class="btn btn-default btn-sm" role="button">Video_Youtube</a>  									
								</div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/vr.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>VR English Learning Application</b></p>
                                    <p><i>Development Tools:Unity3D,C#,Linux,Java</i></p>
                                    <p>An VR English learning application, help the user to learn English by virtual reality technical. Currently there are visa interview  scene and speech scene. And I am responsible for the push server and avatars control in the scene, including motion and emotion control, as well as the mouth match.</p> 
                                </div>
                            </div>
                        </li>
						
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/ros.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>ROS robot arm</b></p>
                                    <p><i>Development Tools:ROS，C++</i></p>
                                    <p>This project focus on the motion planning of robot arm based on ROS-industrial. The main work is to grab and move object by the gripper.</p> 									 
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/hand.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>4finger-gripper</b></p>
                                    <p><i>Hardware: AX-12 steering engine,Arduino,3D printed component,pully</br>Software:ROS,Arduino,C++</i></p>
                                    <p>A 4finger-gripper based on the open source project by standFord.</p> 
									<a href="http://v.youku.com/v_show/id_XMTQwMzczODE4NA==.html?f=26326049&spm=a2hzp.8244740.userfeed.5!82~5~5~5!3~5~A" class="btn btn-default btn-sm" role="button">Video_youku</a> 
                                </div>
                            </div>
                        </li>						
  
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/MP3.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>music-pedometer</b></p>
                                    <p><i>Hardware: Arduino,accelerometer,music module,3D printed component</br>Software:Arduino，C++ </i></p>
                                    <p>The phone is too heavy while running, so I make this music-step product. It can be used as MP3 and running distance recorder.</p> 
                                </div>
                            </div>
                        </li>
  
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/blimp.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Blimp</b></p>
                                    <p><i>Hardware: Arduino, 130motor,Lego component,ballon</br>Software:Arduino, C++, Android  </i></p>
                                    <p>The blimp airship can be controlled by android App, it can move forward and turn in the air.</p> 
                                </div>
                            </div>
                        </li>                    
						
                    </ul>
                </div>
                
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Publications</h1>
                                </div>
                            </div>
                        </div>
                    </div>			                    
					<ul class="list-group">

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/drone_paper.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b> A Flexible Test Platform for Multirotors</b></br>
                                        Liu Yao, Zhang Xinyu</br>
                                        <i>IEEE Virtual Reality 2017</i>
                                    </p>
                                    <p>In this paper, we present a flexible and open source test platform for unmanned multirotors. Operators can carry out many experimental research under this platform for multirotors, such as take-off, landing, vision-based object tracking, and other sensorrelated experiments.</p>
                                    <a href="a href="http://dronetester.us/" class="btn btn-default btn-sm" role="button">Dronetester</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/comparison.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>Comparing Two Continuous Collision Detection Algorithms on CPU and GPUs</b></br>
                                        Liu Yao, Zhang Xinyu</br>
                                        <i>International Conference on Virtual Reality and Visualization (co-located with ChinaVR), September 23-25, 2016, Hangzhou</i>
                                    </p>
                                    <p>In this paper, we prove that these two fast filtering algorithms nearly equivalent. We compare their performance on CPUs. We extended both algorithms to GPUs and further compare their performance using dynamics simulation for cloth.</p>
                                    <a href="" class="btn btn-default btn-sm" role="button">Project Page</a>									
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/vincent.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>A Fast Algebraic Non-Penetration Filter for Continuous Collision Detection using Vincent Theorem</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>Journal of Graphical Models, 2015 (SCI IF 1.23)</i>   
                                    </p>
                                    <p>In this paper, we present the filter based on vincent theorem in continuous collision detection.</p>
                                    <a href="http://www.robotics.sei.ecnu.edu.cn/GMOD/" target="_blank" class="btn btn-default btn-sm" role="button">Project Page</a>
                                </div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/sturm.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>An Algebraic Culling Algorithm for Continuous Collision Detection using Sturm Theorem</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>IEEE International Conference on Mechatronics and Automation, 2~5 August, 2015, Beijing, China.</i> 
                                    </p>
                                    <p>In this paper, we present the filter based on sturm theorem in continuous collision detection.</p>
                                    <a href="http://www.robotics.sei.ecnu.edu.cn/ICMA/" target="_blank" class="btn btn-default btn-sm" role="button">Project Page</a>
                                </div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/taylor.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b> A Simple Filtering Algorithm for Continuous Collision Detection using Taylor Models</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>IEEE International Conference on Mechatronics and Automation, 2~5 August, 2015, Beijing, China.</i> 
                                    </p>
                                    <p>In this paper, we present the filter based on taylor theorem in continuous collision detection.</p>
                                    <a href="http://www.robotics.sei.ecnu.edu.cn/CADCG/" target="_blank" class="btn btn-default btn-sm" role="button">Project Page</a>
                                </div>
                            </div>
                        </li>						

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>