---
title: "Portfolio"
layout:  default
description: "What I did"
header-img: "img/portfolio-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<head>

<style type="text/css">
p {
    font-size: 15px;
    margin-top: 5px;
    text-align: justify;
    line-height: 25px;
}
</style>

</head>

<!-- Language Selector -->
<div class="col-lg-2 col-lg-offset-2 col-md-8 col-md-offset-2">
    <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
        <option value="0" selected> 中文 </option>
        <option value="1"> English </option>
    </select>
    <div class="row">
        </br>
    </div>
</div>

<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>项目</h1>
                                </div>
                            </div>
                        </div>
                    </div>    
					<ul class="list-group"> 
					
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/dronetester.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>多旋翼飞行测试平台</b></p>
                                    <p><i>硬件：步进电机，驱动器，arduino控制器，开关电源，蓝牙，滑轨，3D打印零件，型材等 </i></p>
									<p><i>软件：Visual Studio，Arduino，Android，C++ </i></p>
                                    <p> DroneTester是一款开源多旋翼飞行测试平台，开发者可以在这个平台上完成多种与多旋翼相关的研究，例如多旋翼的飞控参数调节，自主起飞与降落的测试，基于视觉的物体追踪，以及多旋翼的其他拓展功能的研究。更多信息及资料可以访问DroneTester<a href="http://cn.dronetester.us/" target="_blank">官网</a>。</p>
								</div>
                            </div>
                        </li>
						
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/monopoly-online.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>基于视觉导航的四旋翼</b></p>
                                    <p><i>硬件：无刷电机，电调，MWC飞控，声呐，摄像头，蓝牙，3D打印零件，型材等 </i></p>
									<p><i>软件：Visual Studio，MultiWii，OpenCV，C++ </i></p>
                                    <p>基于视觉导航的四旋翼飞行器，完成了从设计到开发的工作，包括飞行器的三维结构设计，型材加工与搭建，飞控、摄像头、Sonar等传感器以及电机的搭建连接，飞行器控制调参，传感器校准等。基于开源飞控及OpenCV等开发了飞行器视觉跟随等功能，基于Sonar等传感器开发了自主起降功能。</p> 
									<a href="http://v.youku.com/v_show/id_XMTM3NzMwNDM1Mg==.html?from=y1.7-1.2" class="btn btn-default btn-sm" role="button">Video（优酷）</a>      
									<a href="https://www.youtube.com/watch?v=n6rG0Wqa_mY" target="_blank" class="btn btn-default btn-sm" role="button">Video（Youtube）</a>  									
								</div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/monopoly-online.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>四指抓手</b></p>
                                    <p><i> </i></p>
                                    <p>  </p> 
                                </div>
                            </div>
                        </li>						
  
                         <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/monopoly-online.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>计步器</b></p>
                                    <p><i> </i></p>
                                    <p>  </p> 
                                </div>
                            </div>
                        </li>
  
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/monopoly-online.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>Blimp飞船</b></p>
                                    <p><i> </i></p>
                                    <p>  </p> 
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/monopoly-online.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>VR英语应用</b></p>
                                    <p><i> </i></p>
                                    <p>  </p> 
                                </div>
                            </div>
                        </li>
                    
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/monopoly-online.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>ROS机械臂</b></p>
                                    <p><i> </i></p>
                                    <p>  </p> 
                                </div>
                            </div>
                        </li>
						
                    </ul>
                </div>
                
                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>论文</h1>
                                </div>
                            </div>
                        </div>
                    </div>			                    
					<ul class="list-group">

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/magictoon.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b> A Flexible Test Platform for Multirotors</b></br>
                                        Liu Yao, Zhang Xinyu</br>
                                        <i>IEEE Virtual Reality 2017</i>
                                    </p>
                                    <p>本文提出了介绍了自主开发的多旋翼飞行测试平台，开发者可以在这个平台上完成多种与多旋翼相关的研究，例如多旋翼的飞控参数调节，自主起飞与降落的测试，多旋翼物体追踪功能的研究，</p>
                                    <a href="a href="http://cn.dronetester.us/" class="btn btn-default btn-sm" role="button">项目主页</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/2d-to-3d.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>Comparing Two Continuous Collision Detection Algorithms on CPU and GPUs</b></br>
                                        Liu Yao, Zhang Xinyu</br>
                                        <i>International Conference on Virtual Reality and Visualization (co-located with ChinaVR), September 23-25, 2016, Hangzhou</i>
                                    </p>
                                    <p>本文在GPU和CPU分别对比了文森特过滤算法和基于几何分析的连续碰撞检测过滤算法。</p>
                                    <a href="" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/mobile-tracking.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>A Fast Algebraic Non-Penetration Filter for Continuous Collision Detection using Vincent Theorem</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>Journal of Graphical Models, 2015 (SCI影响因子1.23)</i>   
                                    </p>
                                    <p>本文提出了基于文森特定理的连续碰撞检测过滤算法。</p>
                                    <a href="" target="_blank" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/mobile-tracking.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b>An Algebraic Culling Algorithm for Continuous Collision Detection using Sturm Theorem</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>IEEE International Conference on Mechatronics and Automation, 2~5 August, 2015, Beijing, China.</i> 
                                    </p>
                                    <p>本文提出了基于斯图姆定理的连续碰撞检测过滤算法。</p>
                                    <a href="" target="_blank" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>
						
						<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/mobile-tracking.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p>
                                        <b> A Simple Filtering Algorithm for Continuous Collision Detection using Taylor Models</b></br>
                                        Zhang Xinyu, Liu Yao</br>
                                        <i>IEEE International Conference on Mechatronics and Automation, 2~5 August, 2015, Beijing, China.</i> 
                                    </p>
                                    <p>本文提出了基于泰勒模型的连续碰撞检测过滤算法。</p>
                                    <a href="" target="_blank" class="btn btn-default btn-sm" role="button">论文主页</a>
                                </div>
                            </div>
                        </li>						

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- English Version -->


<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>